body{
    background-color: #a15237 !important;
    color: white !important;
}

a{
    color: black;
}

.container{
    margin:0;
}

ul{
    list-style-type: none;
    margin: 0;
    }


.drink-showcase{
    margin-left: 8%;
    margin-right: 8%;

    margin-top: 10%;
    
}


.center{
    align-items: center;
    text-align: center;

}


.drinksearch{
    font-weight: 800;
}

.info{
    padding: 50px, 10px;
    border: 1px, black, solid;
    width: 20%;
}


input[type=text], [type=password] {
    color: black;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 3px;
  }


.black{
  color:black !important; 
}


.yellow{
    color: #ffd517;
}
.card-body{
  background-color: #b47f6d;
}
.card{
  margin: auto;
}
/*Header Stuff nav bar*/

.drink-table{
  margin-left: auto;
  margin-right: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b36e57 !important;
    display: block;

  }
  
  .baritem {
    float: left !important;
  }
  
  .baritem .ab {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: auto;
  }
  
  .baritem .ab:hover {
    background-color: #e6a58f;
  }





  div.SubjectsBox {
    align-items: center;
    align-content: center;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
  
  div.Subjects {
    align-items: center;
    align-content: center;
    text-align: center;
    border: none;
    display: inline-block;
    vertical-align: top;
    color: white;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}












