@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.logo{
  font-family: 'Grape Nuts', cursive;
  color: white;
}
body{
    background-color: white !important;
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
}

a{
    color: black;
}

.container{
    margin:0;
}

ul{
    list-style-type: none;
    margin: 0;
    }


.drink-showcase{
    margin-left: 8%;
    margin-right: 8%;

    margin-top: 10%;
    
}


.center{
    align-items: center;
    text-align: center;

}


.drinksearch{
    font-weight: 800;
}

.info{
    padding: 50px, 10px;
    border: 1px, black, solid;
    width: 20%;
}


input[type=text], [type=password] {
    color: black;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 3px;
  }


.black{
  color:black !important; 
}

.blue-body{
  background-color: #16c3ef;
  color: white !important;
  text-decoration: none;
  border-radius: 10px;
}


.yellow{
    color: #ffd517;
}
.card-body{
  background-color: #3e8ea2;
  color: white;
  text-align: left;
  
}
.card{
  margin: auto;
}
/*Header Stuff nav bar*/

.drink-table{
  margin-left: auto;
  margin-right: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0,206,209,1) 27%, rgba(0,209,173,1) 87%);
    display: block;

  }
  
  .baritem {
    float: left !important;
  }
  
.title{

  text-align: center;
}

  .baritem .ab {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: auto;
  }
  
.line{
  width: 80%;
  height: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  color: white;
  background-color: #05beed;
}

.btn-blue{
  background-color: #05beed !important;
  color: white !important;

}

.img-thumbnail{
  border-color: #03dab6 !important;
  border-width: 2px !important;
  border-radius: 10px !important;
}

.blue-text{
  color: #05abd5;
}

  .baritem .ab:hover {
    background-color: #03dab6;
    transition-duration: 1s; 
   }





  div.SubjectsBox {
    align-items: center;
    align-content: center;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
  
  div.Subjects {
    align-items: center;
    align-content: center;
    text-align: center;
    border: none;
    display: inline-block;
    vertical-align: top;
    color: white;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

.inline{
  display: inline-block;
}










