{%extends 'base.html'%}
{%block title%}Mixology{%endblock%}


{%block content%}
<h3 class="center">Find your new favorite drink</h3>

<span class="drinksearch">

<form method="post" class="center">
    {{form.hidden_tag()}}
        {%for field in form
        if field.widget.input_type != 'hidden'%}
        {%endfor%}
    <div class="form-group">
        {{form.name.label}}
        {{form.name()}}
    </div>
    <div class="form-check form-check-inline">
        {{form.choice.label}}
        <br>
        {%for check in form.choice%}
        {{check}}
        {{check.label}}

        {%endfor%}
    </div>
    <br>
    <button class="btn btn-blue" >Submit</button>


</form>
</span>

<h3 class="center line my-3">Popular Drinks</h3>
<div class="row row-cols-3 mt-2 mx-auto ">
    
{%for drink in drinks%}
<div class="col-sm-2 drink-showcase title">
    
    <img class="img-thumbnail" src="{{drink.img_url}}" alt="Img for {{drink.name}}" width="95%">
    <h4><a class="white" href="/drink/{{drink.id}}">{{drink.name}}</a></h4>
</div>  
{% endfor %}
</div>



<h3 class="center line mt-5">Try Something New!</h3>
<div class="row row-cols-3 mt-5 mx-auto mb-3">
    
{%for drink in random_drinks%}
<div class="col-sm-2 drink-showcase title">
    
    <img class="img-thumbnail" src="{{drink.img_url}}" alt="Img for {{drink.name}}" width="95%">
    <h4><a class="blue-text" href="/drink/{{drink.id}}">{{drink.name}}</a></h4>
</div>  
{% endfor %}
</div>

{%endblock%}