{%extends 'base.html'%}
{%block title%}{{drink.name}}{%endblock%}

{%block content%}

<div class="center">

    <h3 class=" mt-3">{{drink.name}}</h3>

    <img class="img-thumbnail col-sm-2" src="{{drink.img_url}}" alt="Img for {{drink.name}}" width="95%">

    
    <h5 class="my-3">Ingredients</h5>
    <div class="SubjectBox ms-5">
        <div class="Subjects">
        <ul class="list-group ">
            {%for ingredient in drink.ingredients%}
            <li><a class="link-warning" href="/ingredients/{{ingredient}}">{{ingredient}}</a></li>
            {%endfor%}
        </div>
        <div class="Subjects">
            {%for measurement in drink.measurments%}
            <li class="yellow">{{measurement}}</li>
            {%endfor%}
        </div>
        <div class="info Subjects ms-5">
            <h5 class="p-0">Instructions</h5>
        
            <p class="mt-0">{{drink.instructions}}</p>
        </ul>
    </div>



    


    </div>

    <div class="btn-group mb-2">
    <form action="/">      
    <button  class="btn btn-warning mt-3 me-2">Go Back</button>
    </form> 
    {%if session['user_id']%}
    <form action="/drink/{{drink.id}}/like">
    <button class="btn btn-danger mt-3 ">Favorite</button>       
    </form> 
    {%endif%}
    </div>


<h3 class="my-2">User Reviews</h3>
{%if session['user_id']%}


<form method="post" class="center">
    {{form.hidden_tag()}}
        {%for field in form
        if field.widget.input_type != 'hidden'%}
        {%endfor%}
    <div class="form-group">
        {{form.text.label}}
        <br>
        {{form.text()}}
    </div>


    <button class="form-group btn btn-danger my-3">Add Comment</button>

</form>

{%endif%}


{%if comments%}
{%for comment in comments%}

<div class="card my-2" style="width: 20rem;">
    <div class="card-body">
        <h4 class="card-title black">{{comment.username}}</h4>
        <p class="card-text black">{{comment.text}}</p>
        {%if comment.user_id == session['user_id']%}
    
        <form method="post" action="/delete/comment/{{comment.post_id}}">
            <button class="btn btn-danger">X</button>
        </form>
    {%endif%}
    </div>
    

</div>


{%endfor%}
{%else%}
<p>No Reviews Yet</p>
{%endif%}
</div>

{%endblock%}