{%extends 'base.html'%}
{%block title%}{{drink.name}}{%endblock%}

{%block content%}

<div class="center">

    <h3 class=" mt-5">{{drink.name}}</h3>

    <img class="img-thumbnail col-sm-2" src="{{drink.img_url}}" alt="Img for {{drink.name}}" width="95%">

    
    <h5>Ingredients</h5>
    <div class="SubjectBox">
        <div class="Subjects">
        <ul class="list-group ">
            {%for ingredient in drink.ingredients%}
            <li><a class="link-warning" href="/ingredients/{{ingredient}}">{{ingredient}}</a></li>
            {%endfor%}
        </div>
        <div class="Subjects">
            {%for measurement in drink.measurments%}
            <li class="yellow">{{measurement}}</li>
            {%endfor%}
        </div>
        </ul>
    </div>

    <div class="info">
    <h5 class="p-3">Instructions</h5>

    <p class="mt-0">{{drink.instructions}}</p>



    


    </div>

    <div class="btn-group">
    <form action="/">      
    <button  class="btn btn-warning mt-3 me-3">Go Back</button>
    </form> 
    {%if session['user_id']%}
    <form action="/drink/{{drink.id}}/like">
    <button class="btn btn-danger mt-3 ">Favorite</button>       
    </form> 
    {%endif%}
    </div>



</div>

{%endblock%}